<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Matt Di Pasquale | Welcome!</title>
</head>
<body>
<form action="https://acani-chats.s3.amazonaws.com" method="post" enctype="multipart/form-data">
    <input type="hidden" name="key" value="/users/79a1c9a1a3d10d84dccf6334992b9fc8/${filename}">
    <input type="hidden" name="acl" value="public-read">
    <input type="hidden" name="policy" value="eyJleHBpcmF0aW9uIjoiMjAxNS0wNS0wNlQxOTo1MzowMVoiLCJjb25kaXRpb25zIjpbeyJidWNrZXQiOiJhY2FuaS1jaGF0cyJ9LFsic3RhcnRzLXdpdGgiLCIka2V5IiwiL3VzZXJzLzc5YTFjOWExYTNkMTBkODRkY2NmNjMzNDk5MmI5ZmM4LyJdLHsiYWNsIjoicHVibGljLXJlYWQifSx7IngtYW16LWNyZWRlbnRpYWwiOiJBS0lBSjJRWVBUV0pIVVVDMkM0QS8yMDE1MDUwNi91cy1lYXN0LTEvczMvYXdzNF9yZXF1ZXN0In0seyJ4LWFtei1hbGdvcml0aG0iOiJBV1M0LUhNQUMtU0hBMjU2In0seyJ4LWFtei1kYXRlIjoiMjAxNTA1MDZUMTg1MzAxWiJ9XX0=">
    <input type="hidden" name="x-amz-credential" value="AKIAJ2QYPTWJHUUC2C4A/20150506/us-east-1/s3/aws4_request">
    <input type="hidden" name="x-amz-algorithm" value="AWS4-HMAC-SHA256">
    <input type="hidden" name="x-amz-date" value="20150506T185301Z">
    <input type="hidden" name="x-amz-signature" value="9c9b07bff28d7217ba20f5158f0b35ad67c247a618c0476e5be0a6e9e46063f8">
    <p><input type="file" name="file"></p>
  <p><button type=submit>Submit</button></p>
</form>
</body>
</html>
